@import url('/css/reset.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Основные стили */
html, body {
    min-height: 100%;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    --main-color: #F2F2F3;
    --font-color: #0A0A0A;
    --second-color: #D4D4D4;
    --third-color: #FFFFFF;

    display: flex;
    flex-direction: column;
}

body.dark {
    --main-color: #0A0A0A;
    --font-color: #F2F2F3;
    --second-color: #212529;
    --third-color: #1C1C1C;
}

.container {
    width: 1630px;
    justify-self: center;
}

.main__container {
    width: auto;
    background: var(--third-color);
    margin-top: 40px;
    padding: 0 25px;
    border-radius: 20px;
    justify-items: center;
}

.main__container-subject {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.topics {
    display: grid;
    grid-template-columns: 1fr;
    margin: 70px 0;
}

.topic {
    border-bottom: 3px solid var(--font-color);
}

.topic:hover {
    background-color: var(--second-color);
    transition: all 0.15s;
}

p {
    line-height: 1.5;
}

.header {
    background: var(--second-color);
}

.nav {
    position: sticky;
    top: 0;
    z-index: 70;
    display: grid; 
    height: 82px;
    max-width: 1630px;
    margin: auto;
    grid-template-columns: 4fr 4fr;
    background: var(--second-color);
}

.nav-bg {
    position: sticky;
    height: 82px;
    top: 0;
    left: 0;
    background: var(--second-color);
}

.logo {
    width: 50px;
    align-self: center;
}

#toggle-theme-btn {
    justify-self: end;
    align-self: center;
    cursor: pointer;
}

h2, .card__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h1, .main__title {
    color: var(--font-color);
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3 {
    font-size: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 30px;
    padding: 20px 10px;
}

.card {
    width: 500px;
    height: 300px;
    background: var(--second-color);
    border-radius: 30px;
    text-align: center;
    align-content: center;
}

.card:hover {
    scale: 1.1;
    transition: all 0.3s;
}

.card__title {
    color: var(--font-color);
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    background: var(--second-color);
    color: var(--font-color);
}

.btn-hover:hover {
    opacity: 0.5;
    transition: all 0.15s;
}

.main {
    margin-bottom: 350px;
    flex-grow: 1;
}

.footer {
    padding-top: 70px;
    height: 150px;
    text-align: center;
    background: var(--second-color);
    color: var(--font-color);
}

.text {
    color: var(--font-color);
    font-family: 'Montserrat';
    font-size: 64px;
}

.desc {
    margin-top: 50px;
}

.none {
    display: none;
}

/* Стили для поиска */
.search-container {
    display: inline-flex;
    height: 40px;
    width: 350px;
    margin-top: 20px;
    align-items: center;
    gap: 5px;
    border: 3px solid var(--font-color);
    border-radius: 50px;
}

#searchInput {
    padding: 5px;
    width: 200px;
}

/* Стили для подсветки результатов поиска */
.highlight {
    position: absolute;
    background-color: yellow;
    opacity: 0.4;
}

.highlight.selected {
    background-color: orange;
    opacity: 0.6;
}
.pdf {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.pdf__container {
    justify-items: center;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 50px;
}

.page-navigation {
    display: inline-flex;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    gap: 5px;
    border: 3px solid var(--font-color);
    border-radius: 50px;
}

#next {
    right: 300px;
    border: 3px solid var(--font-color);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: var(--second-color);
    padding: 5px 20px;
}

#prev {
    border: 3px solid var(--font-color);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background: var(--second-color);
    padding: 5px 20px;
}

#pdf-render {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#loader {
    display: none;
    text-align: center;
    padding: 20px;
}

/* Адаптивность */
@media (max-width: 1700px) {
    .header__container {
        width: 1300px;
    }
    .card {
        width: 400px;
        height: 300px;
    }
    .choose-topic {
        width: 1300px;
    }
    .text {
        font-size: 50px;
    }
}

@media (max-width: 1400px) {
    .header__container {
        width: 1000px;
    }
    .card {
        width: 300px;
        height: 250px;
    }
    .card__title {
        font-size: 32px;
    }
    .choose-topic__title {
        font-size: 16px;
    }
    .choose-topic {
        width: 1000px;
    }
    .text {
        font-size: 40px;
    }
}

@media (max-width: 1100px) {
    .header__container {
        width: 900px;
    }
    .card {
        width: 250px;
        height: 200px;
    }
    .card__title {
        font-size: 24px;
    }
    .choose-topic__title {
        font-size: 14px;
    }
    .choose-topic {
        width: 800px;
    }
    .text {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .header__container {
        width: 600px;
    }
    .card {
        display: grid;
        width: 250px;
        height: 200px;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
    }
    .card__title {
        font-size: 20px;
    }
    .choose-topic__title {
        font-size: 14px;
    }
    .choose-topic {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .header__container {
        width: 100%;
    }
    .card {
        width: 250px;
        height: 200px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .card__title {
        font-size: 20px;
    }
    .choose-topic {
        width: 100%;
    }
}